{{favoriteList?.name}}
<ul>
    <li *ngFor="let movie of favoriteList?.movies"><img
            data-src="https://image.tmdb.org/t/p/w45{{movie.poster_path}}">
        {{movie?.title}}
    </li>
</ul>