<table style="width:100%">
    <tr>
        <th>
            <input type="text" #searchQuery>
            <button (click)="searchMovies(searchQuery.value)">Search Movies</button>
        </th>
        <th>
            <input type="text" #newFavoriteList>
            <button (click)="addFavoriteList(newFavoriteList.value)">Add new list</button>
        </th>
    </tr>
    <tr>
        <td valign="top" style="width:40%">
            <ul>
                <li *ngFor="let movie of movies">
                    <img data-src="https://image.tmdb.org/t/p/w45{{movie.poster_path}}">
                    {{movie.title}}
                    <button (click)="addMovieToFavoriteLists(movie)">Add</button>
                </li>
            </ul>
        </td>
        <td valign="top">
            <ul>
                <li *ngFor="let favoriteList of favoriteLists">
                    <input type="radio" [(ngModel)]="favoriteList.name"  name="listName" 
                           [value]="favoriteList.name" (click)="selectList(favoriteList)"/>
                    <a href="" [routerLink]="['app', 'favorite', 'list', favoriteList.id]">{{favoriteList.name}}</a>
                    <ul>
                        <li *ngFor="let movie of favoriteList.movies"><img
                                data-src="https://image.tmdb.org/t/p/w45{{movie.poster_path}}">
                            {{movie.title}}
                        </li>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
</table>